@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Golos+Text:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  width: 210mm;
  height: 297mm;
  border: 1px solid;
}

.cv {
  display: flex;

  .left {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 35%;
    height: 297mm;
    background: linear-gradient(#312e5f (30%), rgb(71, 113, 124) (60%));
    mix-blend-mode: darken;
    gap: 70px;
    &-info {
      margin-left: 20px;
      margin-right: 20px;
    }
    .hakkımda {
      text-align: center;
      color: white;
      padding: 10px;
      margin-top: 30px;
    }
    img {
      width: 200px;
      height: 250px;
      border-radius: 50%;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 25px;
      object-fit: fill;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .right {
    .üst {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ad {
        margin-left: 35px;
        margin-top: 25px;
        font-family: inter;
      }
      .icon {
        margin-left: 95px;
        margin-top: 55px;
        i {
          margin-top: 15px;
        }
      }
    }
    .alt {
      margin-left: 30px;
      margin-right: 30px;
      font-family: inter;
      display: flex;
      flex-direction: column;
      
      h3 {
        margin-top: 50px;
      }

      &-1 {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-mat{
          margin-right: 75px;
        }
        &-canlı{
          margin-left: 100px;
        }
      }
      &-2 {
        margin-top: 5px;
        display: flex;
        &-dan{
          margin-left: 30px;
        }
        &-git{
          margin-left: 100px;
        }
        
      }
      &-3 {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                .altt{
                  margin-left: 140px;
                }
              }

    }
  }
}
